*.pyc
__pycache__/
*.ipynb_checkpoints
Data
/.vscode/
TestingNotebook.ipynb
.DS_Store
*.pdf
/dist/
*.egg-info
/docs/build/
/build/
/.idea/
/venv/
/data/
/resources/
/debugging/
*.output.*json
*output.vessel*
*output.route*
setup.cfg
pip.sh
datastore
./datastore/*
datastore/*
configs/*
waypoints/*
outputs/*
docs_builder/*
testing.ipynb
docs/build/*
dev_venv/*
*.ipynb
*.log