resources/icepoints*.json
resources/currentPoints.json
Plots
*.pyc
**/__pycache__
*.ipynb_checkpoints
Data
/.vscode/
TestingNotebook.ipynb
.DS_Store
*.pdf
*.html
dist
*.egg-info
build


# Jonny's GitIgnores. Remove Later
Examples/Path/cellGrid
*.p
Modis_1km.csv